.footer {
	padding: 55px 0;
	background: linear-gradient(270deg, #004C9C 0%, #DC7C93 100%);
}

.footer__container {}

.footer__top {
	display: flex;
	justify-content: space-between;
	color: #fff;

	a {
		color: #fff;
	}
}

.footer__column {
	flex: 0 1 20%;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__title {
	margin-bottom: 15px;
}

.footer__menu {}

.footer__menu-item {
	font-size: 18px;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer__menu-link {
	font-size: 18px;
}

.footer__bottom {
	display: flex;
	justify-content: flex-end;
}

.footer__logo {}